body {
    font-family: Courier, trebuchet;
    background-image: url(download.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #f0fcf8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; */
  }
   
  .container {
    text-align: center;
    background-color: #c1e1ec;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
   
  h1 {
    color: #fff;
  }
   
  #quoteDisplay {
    margin: 20px 0;
    font-size: 1.5em;
    color: #333;
  }
   
  button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
   
  button:hover {
    background-color: #0056b3;
  }

  